/* Create root attribute and set CSS variables */
:root{
  --text-color: cornsilk;
  --img-px-size: 100px;
}
/*  Sets base styling for HTML doc */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-left: .15%;
  
}
/*  Styling ofr the body of the web page */
body {
  background-color: rgb(53, 52, 52);
  color: var(--text-color);
}
/*  Default styling for images */
img {
  opacity: 55%;
  transition: opacity 1s;
  max-width:  var(--img-px-size);
  max-height: var(--img-px-size);
  min-width: var(--img-px-size);
  min-height: var(--img-px-size);
}
/*  Adds a hover action to images */
img:hover{
  opacity: 100%;
}

/* Sets solidity logo sizing */
#solidity_logo{
  padding-left: 10px;
  min-width: 1px;
  min-height: var(--img-px-size);
  max-width: none;
  max-height: var(--img-px-size);
}
/* Styling for header element */
header {
  padding: 2%;
  text-align: center;
  color: var(--text-color);
}

nav  {
  padding: 2%;
  text-align: center;
  color: var(--text-color);
}

nav ul li {
  padding: 1%;
  padding-bottom: 5%;
  display: inline-block;
  font-size: x-large;
  text-decoration: underline;
}

/* Defines the list styling inside the header and ul */
header ul li{
  padding: 2%;
  padding-bottom: 5%;
  display: inline-block;
  font-size: x-large;
  text-decoration: underline;
}

/* Styling for the h2 header */
h2{
  font-size: xx-large;
}
/* Applies padding to the top of the work header */
#work{
  padding-top: 5%;
}
/* Sets the margin on the about paragrap */
#about_p{
  margin-left: 3%;
}
/* Sets font size for the h3 header */
h3{
  font-size: x-large;
}

/* Styling for a */
.a{
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  transition: font-size 1s;
}
/* Adds hover action to a */
a:hover{
  font-size: 115%;
  text-decoration: none;
}
/* Sets action for selected page in nav bar */
.a-active{
  justify-content: center;
  color: var(--text-color);
  text-decoration: none;
  font-size: 130% !important;
  transition: font-size .5s;
}

.github-link{
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


/* Footer styling */
footer{
  padding-bottom: 2%;
  text-align: center;
}
/* Sets the span styling inside the footer */
footer span{
  font-size: 80%;
}

/* Style for the form container */
.form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for form input elements */
.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  white-space: normal;
}

.form textarea[name="userName"], .form textarea[name="email"]{
  width: 100%;
}

.form textarea[name="message"] {
  height: 100px;
  width: 100%;
}

/* Style for the submit button */
.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.form button:hover {
  background-color: #0056b3;
}
